
    .p{
        background-color: none;
    }
    .footer{
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background-color:NONE ;
    
       
            }
            .canvas {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:-1;
                
                
             }
             
            .button { 
                
                background:none;
                border: 1px  
            }
            ul li {
				list-style: none;
			}
            .body_left {
				padding: 0;
				width: 200px;
				min-height: 100%;
				display: inline-block;
				background: none;
				float: none;
				font-size: 16px;
				color: #fff;
			}
			
			.body_wai {
				width: 100%;
				height: 100%;
			}
			
			.body_wai ul li {
				font-size: 20px;
			}
			
			.biao1 {
				display: none;
			}
			
			.bi:hover .biao1 {
				transition-duration: 0.5s;
				display: block;
			}
			
			.biao2 {
				display: none;
			}
			
			.bi:hover .biao2 {
				transition-duration: 0.5s;
				display: block;
			}
			
			
			.bi2:hover #CST {
				transition-duration: 0.5s;
				background-color: NONE;
			}
			
			#yiji {
				background-color: NONE;
				width: 100%;
			}
			
			.bi2:hover .biao2 {
				transition-duration: 0.5s;
				display: block;
			}
			
			.bi2:hover #er {
				transition-duration: 0.5s;
				background-color:NONE;
			}
			
			#CST {
				color: gray;
			}
			
			#cla:hover {
				color: white;
			}
			
			#er {
				padding-left: 10%;
			}
			
			#CST {
				padding-left: 20%;
			}

            .tip_box{
                width:300px;
                height:0;
                border-radius:3px;
                background-color:#fff;
                overflow:hidden;
                box-shadow: 1px 1px 6px #888888;
                position:absolute;
                transition:height 0.7s;
                -moz-transition:height 0.7s; /* Firefox 4 */
                -webkit-transition:height 0.7s; /* Safari and Chrome */
                -o-transition:height 0.7s;/* Opera */
                font-size:12px;
            }
               body{
                margin: 0px;
               }
               .zhezhao{
                position: fixed;
                left: 0px;
                top: 0px;
                background: #000;
                width: 100%;
                height: 100%;
                opacity: 0.5;
               }
               .tankuang{
                position: relative;
                background: #fff;
                width: 50%;
                height: 80%;
                border-radius: 5px;
                margin: 5% auto;
               }
               #header{
                height: 40px;
               }
               #header-right{
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 5px;
                background: red;
                color: #fff;
                right: 5px;
                top: 5px;
                text-align: center;
               }